* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

:root {
    --lime: #bef264;
    --white-amber: #fffbeb;
    --black-amber: #451a03;
    --darker-amber: #78350f;
    --dark-amber: #92400e;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.sidebar {
    display: grid;
    background-color: var(--lime);
    grid-row: 1/-1;
    min-width: 150px;
}

.header {
    display: grid;
    background-color: var(--black-amber);
    min-height: 100px;
}

.content {
    display: grid;
    background-color: var(--white-amber);
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 1fr;
    padding: 32px;
    gap: 32px;
    align-items: center;
}

.card {
    background-color: var(--dark-amber);
    min-height: 100px;
    min-width: 100px;
    aspect-ratio: 1/1.5;
    border-radius: 8%;
    border-top-right-radius: 4%;
    border-bottom-right-radius: 4%;
    padding: 16px;
    border-left: 16px solid var(--darker-amber);
    box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.card:hover {
    box-shadow: -8px -4px 6px -3px rgba(0, 0, 0, 0.5);
    transform: translate(4px, 8px);
    transition: 0.5s;
}